html {
    height: 100%;
    background: linear-gradient(to bottom, #000, #c0c0c0, #000);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('fundopp2.jpg');
    background-size: 420px 626px; /* Define o tamanho específico da imagem de fundo */
    background-position: center;
    background-attachment: fixed; /* Torna a imagem de fundo fixa */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    color: #000;
}




h1 {
    font-size: 60px;
}

#main-container {
    align-items: center;
    justify-content: center;
}

#searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}


#playerInput {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Borda arredondada */
    border: 2px solid #000;
}

button {
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 10px; /* Borda arredondada */
    background-color: rgb(114, 113, 113); /* Cor de fundo prateada */
    color: #000; /* Cor do texto branco para contraste */
    transition: background-color 0.3s; /* Efeito de transição para a mudança de cor */
    border: 2px solid #000;
}

button:hover {
    background-color: #b0b0b0; /* Cor de fundo prateada mais escura no hover */
}

#player-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    padding: 10px;
}

#photo-container {
    position: relative;
    
}

#photo {
    width: 100%; /* ajuste conforme necessário */
    height: 100%; /* ajuste conforme necessário */
}

#name {
    position: absolute;
    bottom: 150px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.info-details {
    display: flex;
    flex-direction: column;
}